html,
body {
    background-color: #fcfcfc;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family: "Raleway";
    font-size: 130%;
}
h1 {
    font-family: "Liu Jian Mao Cao";
    font-size: 10vw;
    margin-top: 0;
    padding-bottom: 1%;
}
h4 {
    font-size: 3vw;
    padding-bottom: 8%;
}
#menu {
    margin: 2% 0% 0% 2%;
}
#about {
    position: relative;
    font-family: "Liu Jian Mao Cao";
    font-size: 8vw;
    margin-top: -3%;
    margin-left: 10%;
    z-index: 1;
}
#about-body {
    padding: 10% 7% 7% 7%;
}
#about-sub-1,
#about-sub-2 {
    padding: 7%;
}

#btn-row {
    margin: 0;
}
#contact-btn {
    margin-bottom: -2%;
}
