html,
body {
    background-color: #fffafa;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Raleway";
    font-size: 100%;
}
h1 {
    font-family: "Liu Jian Mao Cao";
    font-size: 10vw;
    margin-top: -2%;
    padding-bottom: 1%;
}
.btn {
    font-size: 90%;
}
.subtitle {
    padding-bottom: 8%;
    margin-bottom: 0;
}
.fixed-action-btn {
    position: absolute;
    display: inline-block;
    left: 24px;
    right: auto;
}
.menu-div {
    position: relative;
    height: 90px;
}
.menu-btn {
    width: 30px;
}
#about-container,
#portfolio-container,
#contact-container {
    margin-bottom: 12%;
}
#about,
#portfolio,
#contact {
    position: relative;
    font-family: "Liu Jian Mao Cao";
    font-size: 8vw;
    margin-top: -3%;
    margin-left: 10%;
    z-index: 1;
}
#portfolio {
    margin-left: 0%;
    margin-right: 10%;
}
#about-body,
#portfolio-body,
#contact-body {
    padding: 7% 4% 4% 4%;
    text-align: justify;
}
#portfolio-sub-1,
#portfolio-sub-2,
#about-sub-1,
#about-sub-2,
#contact-sub-1,
#contact-sub-2 {
    padding: 4%;
}
#portfolio-body {
    background-color: #fff2f0;
    -webkit-transition: background-color 2s linear;
    -moz-transition: background-color 2s linear;
    -ms-transition: background-color 2s linear;
    -o-transition: background-color 2s linear;
    transition: background-color 2s linear;
}
#portfolio-body:hover {
    background-color: #cfa199;
}
.cal {
    color: black;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 2s;
}
.cal:hover {
    color: #45808f;
}
#contact-sub-1 {
    background-color: #c0b3c4;
}
#portfolio-sub-1 {
    background-color: #ffe7e3;
    padding-top: 2.5%;
}
#portfolio-sub-2 {
    background-color: #e8bdb5;
}
#about-body,
.btn-row {
    background-color: #386975;
}
#contact-btn {
    margin-bottom: -2%;
}
.first-header {
    text-align: center;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.divider {
    margin-top: 10%;
}
.connect {
    text-align: center;
}
.icons {
    padding-top: 10%;
    text-align: center;
}
.icon1 {
    padding-right: 3%;
}
.connect a:hover {
    text-decoration: underline;
}
#contact-sub-2 {
    background-image: url(../assets/profile.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
}
.wIcons {
    padding-left: 2%;
}
[data-tooltip]:hover:after {
    display: none;
}
@media screen and (max-width: 450px) {
    .btn-row {
        margin-top: -1%;
    }
    .menu-btn {
        font-size: x-small;
    }
}

@media screen and (min-width: 410px) {
    .subtitle {
        font-size: 1.64rem;
    }
    .headers {
        font-size: 2.28rem;
    }
}
@media screen and (min-width: 900px) {
    .subtitle {
        font-size: 2.28rem;
    }
}
@media screen and (max-width: 991px) {
    .responsive {
        margin-top: 5%;
    }
}
@media screen and (min-width: 993px) {
    #email-link {
        font-size: 1.28rem;
    }
}
@media screen and (max-width: 1372px) {
    #portfolio-sub-1 {
        padding-top: 4%;
    }
    .wIcons {
        padding-top: 3%;
    }
    .weather {
        margin-top: 0;
    }
}
